.appContainer {
  padding: 20px 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
  margin-top: 100px;
  @media (max-width: 1000px) {
    padding: 5px;
  }
  h1 {
    color: #03d3b9;
    font-size: 45px;
  }
  p {
    // width: 40%;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .illus {
    img {
      width: 600px;
      height: 300px;
    }
  }
}
