.heroContainer {
  margin-top: 10px;
  width: 100%;
  height: 490px;
  border-radius: 25px;
  background-image: url("../public/banner.jfif");
  background-size: cover;
  display: flex;
  font-family: "Nunito", sans-serif;
  @media (max-width: 1000px) {
    flex-direction: column;
    height: 80vh;
  }

  .heroText {
    width: 46%;
    height: 100%;
    background-image: url("../public/backgroundHero.png");
    background-size: cover;
    color: white;
    border-radius: 20px;
    border-bottom-right-radius: 70px;

    @media (max-width: 1000px) {
      width: 100%;
      height: 100%;
      padding: 5px;
      border-radius: 20px;
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 50px;
      @media (max-width: 1000px) {
        width: 100%;
        padding: 5px;
      }
      h1 {
        margin: 0;
        font-size: 35px;
      }
      p {
        font-family: "Nunito", sans-serif;
        font-weight: 300;

        span {
          color: #03d3b9;
        }
      }
    }
  }

  .mockup {
    position: relative;
    left: 28%;
    bottom: -35%;
    // display: none;
    @media (max-width: 1000px) {
      display: none;
    }
    img {
      width: 300px;
      height: 550px;
      @media (min-width: 1900px) {
        width: 400px;
        height: 730px;
        margin-top: -450px;
      }
      @media (max-width: 1000px) {
        width: 250px;
        height: 500px;
        margin-top: -100px;
        position: relative;
      }
    }
  }
}

.scrollContainer {
  margin-top: 100px;
  display: flex;
  padding: 0px 10px;
  margin-bottom: 200px;
  @media (max-width: 900px) {
    justify-content: center;
    display: none;
  }

  .phone {
    display: flex;
    align-items: center;
    margin-top: -100px;
    @media (max-width: 900px) {
      display: none;
    }
    p {
      margin-left: 5px;
    }
  }
  .scroll {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 33.2%;
    @media (min-width: 1900px) {
      margin-left: 240px;
    }
    @media (max-width: 900px) {
      display: none;
    }
    .scrollIcon {
      font-size: 25px;
      color: #03d3b9;
      animation: move 1s infinite alternate;
    }
    p {
      margin-top: -2px;
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
