.heroContainer {
  margin-top: 10px;
  width: 100%;
  height: 490px;
  border-radius: 25px;
  background-image: url("../public/banner.jfif");
  background-size: cover;
  display: flex;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  @media (min-width: 1900px) {
    height: 700px;
  }
  .heroText {
    position: relative;
    width: 46%;
    height: 100%;
    background-color: #0d1721;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 70px;
    @media (max-width: 900px) {
      width: 100%;
      border-bottom-right-radius: 20px;
    }

    .curves {
      position: absolute;
    }

    .text {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      // margin-left: 30%;
      // margin-top: 10%;
      @media (max-width: 900px) {
        margin: 10px;
        text-align: center;
        top: 5%;
      }

      h1 {
        margin: 0;
        font-size: 35px;
        @media (min-width: 1900px) {
          font-size: 50px;
        }
      }
      p {
        font-family: "Nunito", sans-serif;
        font-weight: 300;

        @media (min-width: 1900px) {
          font-size: 22px;
        }
        span {
          color: #03d3b9;
        }
      }
    }
  }
}

.scrollContainer {
  margin-top: 10px;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  @media (max-width: 900px) {
    justify-content: center;
  }

  .phone {
    display: flex;
    align-items: center;
    margin-top: -100px;
    @media (max-width: 900px) {
      display: none;
    }
    p {
      margin-left: 5px;
    }
  }
  .scroll {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 140px;
    @media (min-width: 1900px) {
      margin-left: 240px;
    }
    @media (max-width: 900px) {
      display: none;
    }
    .scrollIcon {
      font-size: 25px;
      color: #03d3b9;
      animation: move 1s infinite alternate;
    }
    p {
      margin-top: -2px;
    }
  }

  .mockup {
    width: 300px;
    height: 550px;
    background-image: url("../public/mockup.png");
    background-size: cover;
    margin-top: -350px;
    @media (min-width: 1900px) {
      width: 400px;
      height: 730px;
      margin-top: -450px;
    }
    @media (max-width: 900px) {
      width: 250px;
      height: 500px;
      margin-top: -100px;
      position: relative;
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
